#wrapper {
  margin: 0 auto;
  width: 700px;
}

#title-container {
  margin-bottom: 20px;
}

#title-container h3 {
  color: #000000;
  margin-bottom: 0px;
}

#title-container span {
  color: #a0a3a6;
  font-size: 12px;
  margin-bottom: 10px;
}

#date-container {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

#start-date-container input,
#end-date-container input {
  border-radius: 7px;
  border: 1px solid #a0a3a6;
  padding: 4px;
  padding-left: 10px;
  width: 100px;
  font-size: 12px;
}

input:focus {
  outline: 1px solid #a0a3f6;
}

#image-container {
  padding: 30px;
  background-color: #f6f6f7;
}

#image-content {
  background-color: #ffffff;
  padding: 15px;
}

#image img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#image-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
}

#image-explanation {
  font-size: 14px;
  font-weight: 300;
}

#image-content div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#image-content div div img {
  width: 30px;
}

#end-date-container {
  margin-bottom: 10px;
}

#button-container button {
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #a0a3a6;
}

#button-container button:first-child {
  margin-right: 7px;
}
